---
import Base from "../layouts/base.astro";
import { buildHomeJsonLd, SITE } from "../config/site";
import Navbar from "../components/navbar.astro";
import Hero from "../components/hero.astro";
import Approach from "../components/approach.astro";
import Belief from "../components/belief.astro";
import Services from "../components/services.astro";
import Standard from "../components/standard.astro";
import Contact from "../components/contact.astro";
import Footer from "../components/footer.astro";

const pathname = "/";
const title = SITE.defaultTitle;
const description = SITE.defaultDescription;
const siteUrl = Astro.site ?? new URL(SITE.url);
const jsonLd = buildHomeJsonLd(siteUrl, title, description, pathname);
---

<Base
  title={title}
  description={description}
  pathname={pathname}
  jsonLd={jsonLd}
>
  <main class="page-grid">
    <Navbar />
    <Hero />
    <Approach />
    <Belief />
    <Services />
    <Standard />
    <Contact />
    <Footer />
  </main>
</Base>
