---
import Base from "../layouts/base.astro";
import Navbar from "../components/navbar.astro";
import Hero from "../components/hero.astro";
import Approach from "../components/approach.astro";
import Belief from "../components/belief.astro";
import Services from "../components/services.astro";
import Standard from "../components/standard.astro";
import Contact from "../components/contact.astro";
import Footer from "../components/footer.astro";
---

<Base>
  <main class="page-grid">
    <Navbar />
    <Hero />
    <Approach />
    <Belief />
    <Services />
    <Standard />
    <Contact />
    <Footer />
  </main>
</Base>
